body {
	font-family: 'PT sans narrow', Arial, Helvetica, sans-serif; /*где смотреть какие шрифты ставить на замену? Как это определить?*/
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
}
.main-heading {
	font-family: 'PT sans narrow', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}
.main-heading-catalog {
	font-family: 'PT sans narrow', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

/* они же вроде одинаковые загаловки? Я их измерила..все тоже самое.. Или нет?*/